<h1 align="center">Menu</h1>

<h5 align="center">Delicious dishes</h5>

<div>
    <figure>
        <img src="pictures/soup.png" alt="soup" 
        width="450" height="300">

        <figcaption>
            <h6><b>SOUP. Composition: potatoes, beef, carrot, onion, parsley.
            Price: 3 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/potatoes.png" alt="potatoes"  
        width="450" height="300">

        <figcaption>
            <h6><b>ROAST POTATOES. Composition: potatoes, onion, parsley.
            Price: 1,5 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/navy_pasta.png" alt="navy_pasta" 
        width="450" height="300">

        <figcaption>
            <h6><b>NAVY PASTA. Composition: pasta, ground beef, onion, parsley.
            Price: 2 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/rice.png" alt="rice"  
        width="450" height="300">

        <figcaption>
            <h6><b>RICE. Composition: rice.
            Price: 1 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/meat.png" alt="meat" 
        width="450" height="300">

        <figcaption>
            <h6><b>BEEF. Composition: beef.
            Price: 3 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/sausages.png" alt="sausages" 
        width="450" height="300">

        <figcaption>
            <h6><b>SAUSAGES. Composition: sausages.
            Price: 1,5 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/tea.png" alt="tea" 
        width="450" height="300">

        <figcaption>
            <h6><b>GREEN TEA or BLACK TEA.
            Price: 1,5 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/juice.png" alt="juice" 
        width="450" height="300">

        <figcaption>
            <h6><b>ORANGE JUICE, CHERRY JUICE or APPLE JUICE.
            Price: 1,5 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/coffee.png" alt="coffee" 
        width="450" height="300">

        <figcaption>
            <h6><b>COFFEE.
            Price: 2 euro.</b></h6>
        </figcaption>
    </figure>
    <br>
    <figure>
        <img src="pictures/beer.png" alt="beer"
        width="450" height="300">

        <figcaption>
            <h6><b>BEER.
            Price: 3 euro.</b></h6>
        </figcaption>
    </figure>
</div>